* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-top: 40px;
    font-size: 2.5em;
}

.announce {
    font-size: 1.7em;
}

.player-turn {
    display: none;
    font-size: 1.4em;
}

.grid-container {
    width: fit-content;
    display: none;
    grid: repeat(3, 1fr)/ repeat(3, minmax(85px, 124px));
    gap: 14px;
    background-color: black;
}

.grid-squares {
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    font-size: 105px;
    text-align: center;
    cursor: pointer;
}
.game-btns{
    display: flex;
    gap: 30px;
}

#start-btn{
    margin-top: 110px;
    font-size: 2em;
    padding: 5px 35px;
    border-radius: 10px;
    border: none;
    background-color: rgb(73, 73, 197);
}

#continue-btn, #restart-btn {
    display: none;
    font-size: 1.7em;
    padding: 7px 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(132, 209, 209);
    cursor: pointer;
}
